.container {
    width: 20%; 
    display: inline-block; 
    padding: 2%;
    position: relative;
}

.floating-text-not-available {
    z-index: 100;
    position: absolute;
    top: 45%;
    left: 39%;
    font-size: 1.1em;
    font-weight: 600;
}

.item-button {
    background-color: #006241 !important;
}

.grp-btn {
    background-color: #006241 !important;
    box-shadow: none !important;
    border: solid 1px #006241;
    width: 36px !important;
    height: 36px !important;
    font-size: 1.3em;
    color: #fff;
}

.grp-btn-text {
    padding: 0px 10px;
    font-size: 1.1em;
    font-weight: 600;
    vertical-align: middle;
}

.test {
    background-color: #006241 !important;
    color: #fff !important;
}


.grp-btn.dcs {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.grp-btn.inc {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.grp-txt {
   box-shadow: none !important;
   border: solid 1px #006241;
   background-color: #fff;
   font-size: 1.5em;
}

.item-wrapper {
    cursor: pointer;
}

.item-wrapper-not-available {
    opacity: 0.5;
}

.item-display-wrapper {
    position: relative; 
    text-align: center;
}

.item-display-image {
    width: 100%;
}

.item-display-discount {
    position: absolute; 
    font-size: 1.3em; 
    font-weight: 600; 
    top: 10px; 
    right: 10px; 
    color: #fff;
}

.details {
    padding: 3%;
}

.item-name {
    display: inline-block;
    flex: 1;
    font-size: 1em; 
    font-weight: 600;
    color: #23423c;
    letter-spacing: -1;
}

.item-details-wrapper {
    flex: 1;
    text-align: right;
}

.item-details-amount {
    display: inline-block; 
    width: 50%; 
    font-size: 2.1em; 
    font-weight: 600; 
    text-align: right;
}

.item-details-amount-discounted {
    clear: both; 
    display:inline-block; 
    width: 50%; 
    text-align: right;
}

.item-details-amount-dsc {
    font-size: 1.3em; 
    font-weight: 600; 
    text-align: right;
    color: #AD0101;
}

.item-details-amount-n-dsc {
    font-size: 0.8em; 
    font-weight: 600; 
    text-align: right;
    text-decoration: line-through;
}

.item-details-addToCart {
    padding: 3%;
    border-top: solid 1px #eee;
    display: flex;
    align-items: center;
}

.add-to-cart {
    background: #006241;
    border: 0;
    color: white;
    font-size: small;
    font-weight: "400";
    padding: "5px 25px";
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
    flex: 1;
    text-transform: none;
}

.item-wrapper:hover {
    box-shadow: -1px 1px 11px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 11px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 11px 3px rgba(0,0,0,0.75);
}